* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./html/index";
@import "./html/hincha";
@import "./html/galeria";
@import "./html/noticias";
@import "./html/nosotros";
@import "./utilidades/extend";
@import "./utilidades/mixin";

@media only screen and(max-width: 1024px) {
  li {
    display: flex;
    flex-wrap: wrap;
    background-color: #054598;
    border-radius: 10px;
    border: 1px solid #fef9fd;
    margin-top: 3px;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .h1Header {
    font-size: 1.5em;
  }
  nav ul li a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }

  li {
    display: flex;

    background-color: #054598;
    border-radius: 10px;
    border: 1px solid #fef9fd;
    margin-top: 3px;
    text-align: center;
    font-weight: bold;
  }

  #mainNosotros {
    padding: 13px;
  }
  main {
    width: 100vw;
  }
}
